@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Reset básico */
a {
  text-decoration: none;
  padding: 0px;
  padding-left: 0%;
  color: #4D4D4D;
}

body {
  margin: 0;
  padding: 0%;
  color: #4D4D4D
  
}

/* Base = mobile */
h1 {
  margin: 0;
  padding-inline: 0rem;          /* menos padding en mobile */
  font-size: clamp(14px, 7vw, 60px); /* crece desde 24px hasta 60px según el ancho */
  color: #fff;
}

/* En pantallas grandes vuelve el padding amplio */
@media (min-width: 1024px) {      /* lg */
  h1 { padding-inline: 0%; }
}

h2 {
  margin: 0%;
  font-size: 40px;
  padding-left: 0%;
  padding-right: 0%;
  
}

h3 {
  margin: 0%;
  padding-left: 0%;
  padding-right: 0%;
  
  
}



p {
  margin: 0%;
  padding-left: 0%;
  padding-right: 0%;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  margin: 0%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  margin-bottom: 10px;
}


img {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-section {
  margin-bottom: 0px;
}

.seccion-doble {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  gap: 2rem;                      /* espacio entre columnas */
  max-width: 1200px;              /* ancho máximo */
  margin: 0 auto;                 /* centrado */
  padding: 2rem 10%;              /* margen interno */
}

/* Responsive: una sola columna en móvil */
@media (max-width: 768px) {
  .seccion-doble {
    grid-template-columns: 1fr;
  }
}

.seccion-triple {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* tres columnas iguales */
  gap: 2rem;                          /* espacio entre columnas */
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 10%;
}

/* Responsive: en tablet -> 2 columnas, en móvil -> 1 */
@media (max-width: 1024px) {
  .seccion-triple {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .seccion-triple {
    grid-template-columns: 1fr;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}